<Project Sdk="Microsoft.NET.Sdk">

	<ItemGroup>
		<Compile Remove="tailwind\**" />
		<EmbeddedResource Remove="tailwind\**" />
		<None Remove="tailwind\**" />
	</ItemGroup>

	<ItemGroup>
		<EmbeddedResource Include="embedded\dateFns.js" LogicalName="dateFns.js" />
		<EmbeddedResource Include="embedded\connect.js" LogicalName="connect.js" />
		<EmbeddedResource Include="embedded\cy.js" LogicalName="cy.js" />
		<EmbeddedResource Include="embedded\cytoscape.min.js" LogicalName="cytoscape.min.js"/>
		<EmbeddedResource Include="embedded\leader-line.min.js" LogicalName="leader-line.min.js" />
		<EmbeddedResource Include="embedded\MdsInfrastructure.Render.css" LogicalName="MdsInfrastructure.Render.css" />
		<EmbeddedResource Include="embedded\MdsInfrastructure.Render.js" LogicalName="MdsInfrastructure.Render.js" />
		<EmbeddedResource Include="embedded\nowork.png" LogicalName="nowork.png" />
		<EmbeddedResource Include="embedded\server-icon.png" LogicalName="server-icon.png" />
	</ItemGroup>

</Project>