<Project Sdk="Microsoft.NET.Sdk">

	<ItemGroup>
		<EmbeddedResource Include="embedded\Poppins-Regular.ttf" LogicalName="Poppins-Regular.ttf"></EmbeddedResource>
		<EmbeddedResource Include="embedded\MdsCommon.Render.css" LogicalName="MdsCommon.Render.css"></EmbeddedResource>
	</ItemGroup>

</Project>
